<!DOCTYPE html>
<html>
<head>
    <title>Interest Value</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Interest Value</h1>
    <form action="/" method="post">
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="price">
        </div>
        <div>
            <label for="startDate">Start Date</label>
            <input type="text" id="startDate" name="startDate">
        </div>
        <div>
            <label for="endDate">End Date</label>
            <input type="text" id="endDate" name="endDate">
        </div>
        <div>
            <label for="rate">Rate</label>
            <input type="text" id="rate" name="rate">
        </div>
        <input type="submit" value="Calculate">
    </form>
    <h2>Report</h2>
    <% if(prices.length){ %>
    <table>
        <thead>
            <tr>
                <td>Price</td>
                <td>Start Date</td>
                <td>End Date</td>
                <td>Rate</td>
                <td>Interest Value</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        <% prices.forEach(function(price, index) { %>
            <tr>
                <td><%= price.price %></td>
                <td><%= price.startDate %></td>
                <td><%= price.endDate %></td>
                <td><%= price.rate %></td>
                <td><%= price.iv %></td>
                <td><a href="/delete/<%= index %>">Delete</a></td>
            </tr>
        <% }) %>        
        </tbody>
    </table>
    <% } else { %>
        <p>No data is shown in table</p>
    <% } %>
</body>
</html>
