<!DOCTYPE html>
<html>
  <head>
    <title>Interest Value></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <table>
            <thead>
                <tr>
                    <td>Price</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Rate</td>
                    <td>Interest Value</td>        
                </tr>
            </thead>
            <tbody>
            <% prices.forEach(function(price) { %>
                <tr>
                    <td><%= price.price %></td>
                    <td><%= price.startDate %></td>
                    <td><%= price.endDate %></td>
                    <td><%= price.rate %></td>
                    <td><%= price.iv %></td>
                </tr>
            <% }) %>        
            </tbody>
        </table>
    </body>
</html>
